<h2>Curso: {{course.name}}</h2>
<table>
    <thead>
        <tr>
            <th>
                IDENTIFICACION
            </th>
            <th>
                NOMBRE
            </th>
            <th>
                APELLIDO
            </th>
        </tr>
    </thead>
    <tbody>
        @for (item of course.students; track $index) {
        <tr>
            <th>
                {{item.identification}}
            </th>
            <th>
                {{item.name}}
            </th>
            <th>
                {{item.surname}}
            </th>
        </tr>
        }
    </tbody>
</table>